<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Products</display-name>
  <welcome-file-list>
    <welcome-file>LoginFirst.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JdbcConnections</display-name>
    <servlet-name>JdbcConnections</servlet-name>
    <servlet-class>com.dao.JdbcConnections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcConnections</servlet-name>
    <url-pattern>/JdbcConnections</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>java</param-value>
  </context-param>
  <context-param>
    <param-name>dbPass</param-name>
    <param-value>java</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginFunctionality</display-name>
    <servlet-name>LoginFunctionality</servlet-name>
    <servlet-class>com.model.LoginFunctionality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFunctionality</servlet-name>
    <url-pattern>/LoginFunctionality</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProducts</display-name>
    <servlet-name>AddProducts</servlet-name>
    <servlet-class>com.model.AddProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProducts</servlet-name>
    <url-pattern>/AddProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtraActivity</display-name>
    <servlet-name>ExtraActivity</servlet-name>
    <servlet-class>com.model.ExtraActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtraActivity</servlet-name>
    <url-pattern>/ExtraActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProduct</display-name>
    <servlet-name>deleteProduct</servlet-name>
    <servlet-class>com.model.deleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProduct</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProduct</display-name>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>com.model.updateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProduct</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
</web-app>